.sidebar {
	background: $darker;
	border-right: 1px solid $darkest;
	
	ul {
		height: 100%;
		
		li {
			list-style-type: none;
			
			a {
				display: block;
				padding: .5em 1em;
				color: $white;
				text-decoration: none;
				
				&.active {
					background: $darkHighlight;
				}
			}
		}
	}
}