@import 'colors';
@import 'fonts';

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
			
html, body, #root {
	height: 100%;
	width: 100%;
	font-family: $primaryFont;
	overflow: hidden;
}

.app {
    height: 100%;
    width: 100%;
    background: $dark;
	
	display: grid;
	grid-template: 1fr / 1fr 4fr;
	
	main {
		width: 100%;
		overflow-y: scroll;
	}
	
	@import 'components/sidebar';
	@import 'components/jwt';
}

pre, code {
	font-family: $monoFont;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: normal;
}